
.Description_Container {
}

.Description_Field {
  width: 100%;
  background-color: white;
  line-height: 1.6em;
  border: solid 1px lightgray;
}

.Description_Identifiers {
  font-size: 0.9em;
  padding-top: 1rem;
}

.Description_Field .public-DraftEditor-content {
  padding: 3px 8px;
  min-height: 10rem;
}

.identifier-container {
  padding: 1rem 0;
  margin-top: 0.5rem;
}
.identifier-container + .identifier-container {
  border-top: 1px solid rgba(0,0,0,0.2);
}

.identifier-label {
  font-size: 0.9em;
  margin: 1rem 0 0.5rem;
}

.identifier-row {
  display: flex;
  align-items: center;
}

.identifier-row > *:not(:first-child) {
  margin-left: 0.8rem;
}

.identifier-type {
  padding: 0.5rem 0;
  width: 80px;
  flex-grow: 0;
}

.identifier-name {
  font-family: inherit;
  font-size: 1em;
  line-height: 1.6em;
  padding: 0.1em 0.3em;
  width: 80px;
  flex-grow: 0;
}

.identifier-redacted {
  font-family: inherit;
  font-size: 1em;
  line-height: 1.6em;
  padding: 0.1em 0.3em;
  flex-grow: 1;
}

.identifier-description {
  font-family: inherit;
  font-size: 1em;
  line-height: 1.6em;
  padding: 0.1em 0.3em;
  flex-grow: 1;
}

.underline {
  text-decoration: none;
  border-bottom: 2px solid black;
}

.underline-0 {
  border-bottom-color: blue;
}

.underline-1 {
  border-bottom-color: red;
}

.underline-2 {
  border-bottom-color: green;
}

.underline-3 {
  border-bottom-color: orange;
}

.underline-4 {
  border-bottom-color: purple;
}

.underline-5 {
  border-bottom-color: magenta;
}
.Form_Buttons {
  padding-top: 1rem;
}
.Form_Buttons > *+* {
  margin-top: 1rem;
}
input[type=radio] {
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -7px;
}

label {
  display: block;
  padding-left: 1.5rem;
  position: relative;
}

label span {
  display: inline-block;
  line-height: 1.25;
}
